[package]
name = "feiwen"
version = "0.1.0"
edition = "2024"

[dependencies]
# ui
gpui.workspace = true
gpui-component.workspace = true
gpui-component-assets.workspace = true
smallvec.workspace = true

# err
thiserror = "2.0.17"

# http
reqwest = "0.12.26"
async-compat = "0.2.5"

# html
scraper = "0.25.0"
nom = "8.0.0"
regex = "1.12.2"
url = "2.5.7"

# database
diesel = { version = "2.3.4", features = ["sqlite", "r2d2"] }
libsqlite3-sys = { version = "0.35.0", features = ["bundled"] }
time = { version = "0.3.44", features = ["local-offset"] }
dirs-next = "2.0.0"

# log
tracing = "0.1.43"
tracing-subscriber = { version = "0.3.22", features = ["local-time"] }

[dev-dependencies]
anyhow = "1.0.100"
