[package]
name = "http-client"
version = "0.1.0"
edition = "2024"

[dependencies]
gpui.workspace = true
gpui-component.workspace = true
gpui-component-assets.workspace = true
smallvec.workspace = true

url = "2.5.7"
thiserror = "2.0.17"
reqwest = "0.12.26"
